<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="camera">
      <ion-icon name="camera-sharp"></ion-icon>
      Camera
    </ion-tab-button>
    <ion-tab-button tab="gallery">
      <ion-icon name="images-sharp"></ion-icon>
      Images
    </ion-tab-button>
    <ion-tab-button tab="features">
      <ion-icon name="construct-sharp"></ion-icon>
      Features Test
    </ion-tab-button>
    <ion-tab-button tab="devices">
      <ion-icon name="hardware-chip-sharp"></ion-icon>
      Devices
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
